@font-face {
  font-family: 'AmaticSC';
  src: url('AmaticSC-Regular.ttf');
}
@font-face {
  font-family: 'CrimsonText';
  src: url('CrimsonText-Regular.ttf');
}
:root {
  --green: rgb(0, 115, 62);
  --darkgreen: rgb(11, 77, 44);
  --lightgreen: rgb(196, 211, 202);
  --white: rgb(235, 235, 235);
  --red: rgb(185, 0, 0);
  --darkred: rgb(165, 0, 0);
  --darkpurple: #343242;
  --purple: #4b485f;
  --lightpurple: #634496;
  --lightpurple-25: #63449640;
  --bg--grey: rgba(216, 220, 223);
  --progress-bar-height: 7rem;
}
* {
  box-sizing: border-box;
}
button {
  user-select: none !important;
}
.lightgreen {
  color: var(--lightgreen);
}
.bg-lightgreen {
  background-color: var(--lightgreen);
}
.green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green) !important;
}
.red {
  color: var(--red);
}
.bg-red {
  background-color: var(--darkred) !important;
}
@keyframes questingbeast {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
html {
  font-size: 1rem;
}
@media screen and (max-device-width: 640px) {
  html {
    font-size: 0.5rem;
  }
  h1 {
    font-size: 4.5rem !important;
  }
}
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'AmaticSC', sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
#footer {
  font-size: 2rem;
  align-self: stretch;
}
#footer span {
  display: inline-block;
  font-weight: bold;
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: var(--lightgreen);
  opacity: 1;
  animation: fade-in 0.3s ease-in-out;
}
#fan-content-policy {
  font-family: system-ui;
  font-size: 0.75rem;
  display: block;
  bottom: 0;
  padding: 0.5rem;
  background: var(--lightpurple-25);
  color: var(--purple);
}
img {
  max-width: 100%;
}
#back_menu {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
.btn-sm {
  font-size: 2rem !important;
  padding: 0.25rem 1rem !important;
  font-weight: bold !important;
}
.btn-secondary {
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: var(--lightpurple) !important;
  border: none !important;
}
.btn-secondary:hover {
  background: var(--lightpurple-25) !important;
}
main {
  width: 100%;
  max-width: 1260px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 6rem;
  gap: 3rem;
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav span {
  font-weight: bold;
}
h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.m-0 {
  margin: 0;
}
.qb-word {
  display: inline-block;
  animation: questingbeast 3s infinite;
}
article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article > *:not(.hidden, figure) {
  opacity: 1;
  animation: fade-in 0.3s ease-in-out;
}
#info {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
#info > h2 {
  margin: 0;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  width: 100%;
}
figure {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 5px 10px 10px rgba(0, 20, 5, 0.5);
  margin: 0 auto;
  max-width: 42rem;
  animation: pop 0.5s ease-in-out;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  40% {
    opacity: 1;
    transform: translateX(-5%);
  }
  70% {
    transform: translateX(2.5%);
  }
  100% {
    transform: translateX(0);
  }
}
figure img {
  vertical-align: top;
}
.center {
  align-self: center;
}
.text-center {
  text-align: center;
}
.italic {
  font-style: italic;
}
.btn-default {
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  font-size: 3rem;
  color: var(--white);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-shadow: 0.125rem 0.125rem 0 black;
  border: 0.125rem solid rgba(0, 0, 0, 0.5);
  background: var(--lightpurple);
  box-shadow: 0 0.5rem 0 var(--darkpurple);
  transition: all 0.15s ease-out;
}

.btn-default:hover {
  transform: translateY(0.3rem);
  box-shadow: 0 0.2rem 0 var(--darkpurple);
}
.btn-default:active {
  transform: translateY(0.5rem);
  opacity: 0.8;
  box-shadow: 0 0 0 var(--darkpurple);
}
#detail-btn {
  z-index: 1;
}
#details {
  --details-border: 0.125rem dashed var(--purple);
  --details-overlap: 6rem;

  margin: calc(var(--details-overlap) * -1) -2rem 0;
  padding-top: var(--details-overlap);
  padding-bottom: 3rem;
  transform-origin: top center;
  transition: all 0.3s ease;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: var(--bg--grey);
  border-radius: 0.5rem;
  outline: var(--details-border);
}
.hidden {
  opacity: 0;
}
.display-none {
  display: none !important;
}
.column {
  font-weight: bold;
  padding: 0 2rem;
}
.column:first-child {
  border-right: var(--details-border);
}
#details h2 {
  margin: 0;
  text-align: center;
}
#details ol {
  padding-inline-start: 2.5rem;
  margin-bottom: 0;
}
#details li {
  padding: 0 0.5rem 1rem;
}
#quiz:not(.display-none) {
  display: flex;
  gap: 3rem;
}
#question {
  position: relative;
  font-family: CrimsonText, serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  background: var(--bg--grey);
  border: 0.25rem solid var(--green);
  border-top-width: 0.1875rem;
  border-radius: 3px;
  box-shadow: inset -2px 3px 3px rgba(0, 0, 0, 0.33),
    inset 2px -3px 3px rgba(255, 255, 255, 0.33);
  padding: 14px 10px;
  min-height: 17.875rem;
  width: 36.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: clip;
  overflow-clip-margin: 0.25rem;
}
#question::before,
#question::after {
  content: '[...]';
  color: #aaa;
}
#hint {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 1rem 1.5rem;
  border-radius: 999px;
  z-index: 1;
  color: #fff;
  text-shadow: 0.125rem 0.125rem 0 black;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.33),
    2px -3px 3px rgba(255, 255, 255, 0.33);
  text-transform: uppercase;
  transform: translateX(-50%);
}
#stamp {
  position: absolute;
  bottom: -2.8125rem;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 7.5rem;
  height: 7.5rem;
  border: 0.25rem solid var(--green);
  border-radius: 999px;
  background: var(--lightgreen);
}

#power-toughness {
  position: absolute;
  bottom: -3.75rem;
  right: -1.25rem;
  width: 7.5rem;
  height: 7.5rem;
  border: 0.25rem solid var(--green);
  border-radius: 999px;
  background: var(--lightgreen);
}

#power-toughness::before {
  content: '';
  position: absolute;
  top: -0.375rem;
  left: 0.3125rem;
  height: 1.875rem;
  width: 5.6875rem;
  border: 0.25rem solid var(--green);
  border-top: none;
  border-left: none;
  background: var(--bg--grey);
  box-shadow: inset -4px -1px 3px -2px rgba(0, 0, 0, 0.33);
}

#result .text {
  font-weight: bold;
  user-select: none !important;
  animation: correct 0.4s ease-in-out;
}

@keyframes correct {
  0% {
    transform: scale(1) translateY(-100%);
  }
  50% {
    transform: scale(1.01, 0.5);
  }
  70% {
    transform: scale(0.99, 1.1);
  }
  90% {
    transform: scale(1.01, 0.9);
  }
}

#summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

#summary-bar {
  position: relative;
  max-width: 90%;
  width: 90%;
  height: calc(var(--progress-bar-height) + 1rem);
  color: white;
  font-weight: bold;
  text-align: left;
  border-radius: 0.5rem;
  text-shadow: 0.125rem 0.125rem 0 black;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  background: rgba(0, 0, 0, 0.1);
  overflow: visible;
}

#summary-progress {
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
  height: calc(var(--progress-bar-height));
  width: calc(0% - 1rem);
  transform-origin: left center;
  border-radius: 0.25rem;
  background-color: var(--green);
  box-shadow: 0 0.375rem 0.375rem -0.125rem var(--darkgreen), 0 0.375rem #333;
  transition: width 3s ease-out;
}

#summary-progress::after {
  content: url('questing-head.png');
  position: absolute;
  top: 50%;
  right: 0;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.16))
    drop-shadow(0 4px 3px rgba(0, 0, 0, 0.23));
  --transform: translate(44%, -50px);
  animation: questinghead 2s ease infinite;
}
@keyframes questinghead {
  0%,
  100% {
    transform: var(--transform) rotateZ(8deg);
  }
  50% {
    transform: var(--transform) rotateZ(-5deg);
  }
}
.winner #summary-progress::after,
.winner #summary-label {
  animation: winner 1s ease-in-out infinite;
}
@keyframes winner {
  0%,
  50%,
  100% {
    transform: var(--transform) scale(0.9);
  }
  20%,
  70% {
    transform: var(--transform) scale(1.2);
  }
  0%,
  100% {
    transform: var(--transform) rotate3d(0, 1, 0.25, 20deg);
  }
  50% {
    transform: var(--transform) rotate3d(0, 1, 0.25, -25deg);
  }
}

#summary-label {
  position: absolute;
  top: 0.25rem;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: var(--progress-bar-height);
  --transform: translateX(-50%);
  transform: var(--transform);
  transition: opacity 1s ease;
}

html.party::after {
  content: '';
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  animation: party 0.75s linear infinite;
}
@keyframes party {
  0%,
  100% {
    background: #f00;
  }
  33% {
    background: #0f0;
  }
  66% {
    background: #00f;
  }
}
a {
  text-decoration: none;
  color: var(--lightpurple);
}
a:hover {
  text-decoration: underline;
}

#seizure-warning {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem;
  max-width: 70%;
}

.g,
.c4 {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  vertical-align: baseline;
  margin: 0 1px;
  transform: translateY(0.08em);
}
.g {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC%20b3g9JzAgMCAxMDAgMTAwJz48ZyBmaWxsPSdub25lJz48cGF0aCBkPSdNMTAw%20IDQ5Ljk5OGMwIDI3LjYxNS0yMi4zODUgNTAuMDAyLTUwLjAwMiA1MC4wMDIt%20MjcuNjEzIDAtNDkuOTk4LTIyLjM4Ny00OS45OTgtNTAuMDAyIDAtMjcuNjEz%20IDIyLjM4NS00OS45OTggNDkuOTk4LTQ5Ljk5OCAyNy42MTcgMCA1MC4wMDIg%20MjIuMzg1IDUwLjAwMiA0OS45OTh6JyBpZD0nU2hhcGUnIGZpbGw9JyNBM0Mw%20OTUnLz48cGF0aCBkPSdNOTMuNzYyIDU2LjIyNWMwIDEuNjY4LS42NDUgMy4x%20NjQtMS45MzYgNC40OTgtMS4yODkgMS4zMzItMi43NyAxLjk5OC00LjQzNiAx%20Ljk5OC0yLjY2MiAwLTQuNjIzLTEuMjUtNS44NjktMy43NDhsLTUuODcxLS4y%20NWMtMS4yNTIgMC0zLjcwOS41NDMtNy4zNzEgMS42MjUtMy45MTQgMS4wODIt%20Ni4xNjQgMS45NTctNi43NDYgMi42MjMtLjkxNi45OTgtMS42NjQgMy4zMzIt%20Mi4yNDggNi45OTYtLjUwMiAyLjk5OC0uNzQ4IDUuMjA1LS43NDggNi42MjEg%20MCAyLjI0Ni4zNTIgMy44OTMgMS4wNjEgNC45MzQuNzA5IDEuMDQxIDIuMTY2%20IDEuOTE2IDQuMzcxIDIuNjIzIDIuMjA1LjcwNyAzLjU2MSAxLjEwNCA0LjA2%20MSAxLjE4Ny4zMzIgMCAuODczLS4wNDEgMS42MjUtLjEyNWgxLjQ5OGMxLjA4%20IDAgMi4yMDUuMTcgMy4zNzMuNSAxLjY2Ni41IDIuMzc1IDEuMTY2IDIuMTI1%20IDItMS4xNjgtLjE2Ni0zLjIwNy4wODQtNi4xMjEuNzVsMy40OTYgMS43NDhj%20MCAxLTEuNDE2IDEuNDk4LTQuMjQ2IDEuNDk4LS43NTIgMC0xLjc3MS0uMTY2%20LTMuMDYzLS40OTgtMS4yOTEtLjMzNi0yLjE0NS0uNS0yLjU1OS0uNWgtMS42%20MjVjLS4wODIuODMyLS4zMzQgMi4wOC0uNzUgMy43NDYtMS40MTgtLjA4NC0z%20LjA4LS45MTgtNC45OTYtMi40OTgtMS45MTgtMS41OC0zLjEyMy0yLjM3My0z%20LjYyMS0yLjM3My0uNTAyIDAtMS4yMTEuNzkzLTIuMTI1IDIuMzczLS45MTgg%20MS41OC0xLjM3NSAyLjY2NC0xLjM3NSAzLjI0OC0xLjA4Mi0uNTg0LTEuOTk2%20LTEuNjY4LTIuNzUtMy4yNDgtLjMzMi0xLjA4NC0uNzA3LTIuMTY2LTEuMTIx%20LTMuMjQ4LS44MzIuMDg0LTIuMzc1IDEuODM0LTQuNjIxIDUuMjQ4aC0uNjI3%20Yy0uMTY2LS4yNTItLjc5NS0yLTEuODczLTUuMjQ4LTIuNTgyLS44MzItNC45%20OTYtMS4yNDgtNy4yNDYtMS4yNDgtMS4wODIgMC0yLjc0OC4yNS00Ljk5Ni43%20NDhsLTMuNDk2LS4yNDhjLjQ5OC0uNSAxLjk1NS0xLjQ1NyA0LjM3MS0yLjg3%20MyAyLjgzLTEuNjY2IDQuOTk2LTIuNSA2LjQ5Ni0yLjUuMjQ2IDAgLjU3OC4w%20NDMgMSAuMTI1LjQxNC4wODYuNzUuMTI1IDEgLjEyNS41NzggMCAxLjUxOC0u%20MzEyIDIuODA5LS45MzggMS4yOTEtLjYyMyAyLjAzOS0xLjE4NiAyLjI0Ni0x%20LjY4NC4yMTEtLjUwNC4zMTYtMS43OTMuMzE2LTMuODc1IDAtNC43NDYtMS4y%20NS04LjI4NS0zLjc1LTEwLjYxNy0yLjE2OC0yLjA4Mi01Ljc0Ni0zLjU4LTEw%20Ljc0NC00LjQ5OC0xLjMzMiA0Ljc0Ni01LjA4IDcuMTIzLTExLjI0IDcuMTIz%20LTIgMC0zLjk5OC0xLjIwNy01Ljk5Ni0zLjYyMy0xLjk5Ni0yLjQxNi0yLjk5%20Ni00LjYyMy0yLjk5Ni02LjYyMSAwLTMuMDgyIDEuMjg3LTUuNjIxIDMuODY5%20LTcuNjIzLTIuMDgtMi4xNjItMy4xMjEtNC4zNjktMy4xMjEtNi42MTcgMC0y%20LjA4NC42NDMtMy45MTQgMS45MzYtNS41IDEuMjkxLTEuNTc4IDIuOTc3LTIu%20NDk2IDUuMDU5LTIuNzQ4LS4xNjYtMi42NjIuNzA3LTQuNDk2IDIuNjIzLTUu%20NDk2LS45MTYtLjkxNC0xLjM3My0yLjUzNy0xLjM3My00Ljg2OSAwLTIuNzQ4%20LjkxNi01LjAzOSAyLjc0OC02Ljg3MSAxLjgzLTEuODMyIDQuMTIxLTIuNzUg%20Ni44NjktMi43NSAzIDAgNS40NTcgMS4wNDUgNy4zNzEgMy4xMjUgMi40MTYt%20OC4yNDQgNy42MjEtMTIuMzY3IDE1LjYxMy0xMi4zNjcgNC4xNjQgMCA3Ljgy%20OCAxLjY2NiAxMC45OTQgNC45OTggMS4xNjYgMS4yNDggMS43NDggMS45MTYg%20MS43NDggMS45OTYtMSAwLS40OTgtLjE4OCAxLjUtLjU2MSAxLjk5Ni0uMzc1%20IDMuNDUzLS41NjMgNC4zNzMtLjU2MyAzLjI0NiAwIDYuMTE5IDEuMjA3IDgu%20NjE5IDMuNjIzIDIuMTY0IDIuMTY2IDMuNjY0IDQuOTEyIDQuNDk4IDguMjQ0%20LjU4LjA4NCAxLjQ5OC4zMzIgMi43NDguNzQ4IDEuODMuOTIgMi43NDggMi40%20OTggMi43NDggNC43NDggMCAuNDE4LS4zMzYgMS4yMDktMSAyLjM3MyA1LjMy%20OCAyLjk5OCA3Ljk5NCA3LjE2MiA3Ljk5NCAxMi40OTIgMCAxLjQ5OC0uNTgy%20IDMuNTg0LTEuNzQ4IDYuMjQ3IDIuMTY2IDEuMjQ3IDMuMjQ2IDMuMDgxIDMu%20MjQ2IDUuNDk1em0tNTEuNDY3IDUuNDk2di0xLjYyM2MwLTEuOTE0LS45MzYt%20My42NjQtMi44MDktNS4yNDYtMS44NzUtMS41ODItMy43Ny0yLjM3My01LjY4%20NC0yLjM3My0yLjMzNCAwLTQuNDk2LjU0MS02LjQ5NiAxLjYyMSA0LjQxMy0u%20MjQ4IDkuNDExIDIuMjkzIDE0Ljk4OSA3LjYyMXptLTIuMjQ2LTE1LjQ4OWMt%20MS4yNS0xLjQxOC0yLjMzMi0yLjg3NS0zLjI1LTQuMzczLTMuNDk4LjkxNi01%20LjI0NiAxLjk1Ny01LjI0NiAzLjEyMSAxLS4wOCAyLjQ1Ny4xMDUgNC4zNzEu%20NTY0IDEuOTE0LjQ1OSAzLjI5MS42ODggNC4xMjUuNjg4em03LjYyMS0zLjg3%20M3YtNS40OTZjLTItLjMzMi0zLjIxMS0uNS0zLjYyMy0uNXYxLjg3M2wzLjYy%20MyA0LjEyM3ptMTYuMjM4LTMuNDk4Yy0xLS40MTYtMi44NzUtMS4yNS01LjYy%20MS0yLjQ5OHYxMC43NDJjMy45MTItMi4yNSA1Ljc4NS00Ljk5OCA1LjYyMS04%20LjI0NHptNi44NjcgMTQuNzQxbC0yLjc0Ni0zLjM3M2MtMS42NjQgMS4xNjct%20My4zNTIgMi4zNTQtNS4wNjEgMy41NjEtMS43MDkgMS4yMDctMy4xODYgMi41%20NjMtNC40MzIgNC4wNiAzLjc0Ny0yLjAwMiA3LjgyOS0zLjQxNCAxMi4yMzkt%20NC4yNDh6JyBmaWxsPScjMEQwRjBGJy8+PC9nPjwvc3ZnPgo=');
}
.c4 {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC%20b3g9JzAgMCAxMDAgMTAwJz48ZyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgwIC0x%20KScgZmlsbD0nbm9uZSc+PGNpcmNsZSBmaWxsPScjQ0FDNUMwJyBjeD0nNTAn%20IGN5PSc1MC45OTgnIHI9JzUwJy8+PHBhdGggZD0nTTY0LjI3IDY4LjM1OXY2%20LjcyM2MwIDcuNjg0IDIuNjk1IDExLjUyNSA4LjA5NCAxMS41MjVoMi4zM3Y0%20LjM5NGgtMzIuNjU4di00LjM5NGgyLjYwN2M1LjMwMyAwIDcuOTYxLTMuNzk4%20IDcuOTYxLTExLjM5MnYtNi44NTZoLTMyLjc5NXYtNi44NjFsMzQuNTc4LTUw%20LjQ5N2g5Ljg4M3Y1MS41OTJoLjgyYzMuMzgzIDAgNS44NTItMi42MDggNy40%20MDgtNy44MTZoNC4xMTVsLTEuOTIgMTMuNTgzLTEwLjQyMy0uMDAxem0tMTEu%20NjY2LTUuNzY2di00MS40NThsLTI3Ljg5MyA0MS40NThoMjcuODkzeicgZmls%20bD0nIzBEMEYwRicvPjwvZz48L3N2Zz4K');
}
